$spacing: 1em;
$spacing-xl: 2em;
$innner-spacing: 0.5em;
$white: white;
$light: #f5f5f5;
$lightgrey: #e7e7e7;
$grey: rgb(156, 151, 151);
$black: black;
$danger: red;
$primary: #1777ff;
$normal: 1em;
$x-small: 0.8em;
$border-radius: 0.5em;
$border: $lightgrey 1px solid;

// SIDEBAR
.menu {
  color: whitesmoke;
  padding: $spacing;
}
.menu button {
  width: 100%;
}
.NotePreview {
  cursor: pointer;
  min-height: 3rem;
  min-height: 4rem;
  border-radius: $border-radius;
  border: $border;
  margin: $spacing 0;
  background-color: $light;
  color: $black;
  overflow: scroll;
}
.NotePreview:hover {
  color: $primary;
}
.title-preview {
  font-size: $normal;
  font-weight: bold;
  padding: $innner-spacing;
  border-bottom: $border;
}

.content-preview {
  font-size: $x-small;
  color: $black;
  padding: $innner-spacing;
}

.delete-btn {
  background-color: $light;
  color: $danger;
  border: $black;
  float: right;
}

.clear-storage{
  margin-bottom: $spacing;
}

.delete-btn button:hover {
  background-color: $danger important;
  color: $danger;
  border: $black;
}

// MAIN CONTENT
.NoteDisplay {
  min-height: 35vh;
  background-color: $white;
  border-radius: $border-radius;
  border: $border;
  padding: $spacing $spacing-xl;
  margin-top: $spacing;
}

h1 {
  margin: 0;
  color: $primary;
}

hr {
  margin: $spacing-xl 0;
}

.MarkdownInput input,
.MarkdownInput textarea {
  margin: $spacing 0;
}

.form-btns {
  display: flex;
  justify-content: end;
  gap: $spacing;
}

pre {
  background-color: $light;
  padding: $innner-spacing;
  color: $grey;
}
